*{
  box-sizing: border-box;
  margin: 0;
}

.app{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.container{
  columns: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 5px;
}
.icon{
  font-size: 2rem;
}

.square:nth-of-type(even) {
  background-color: black;
  color: white;
}

@media screen and (max-width: 600px) {
  .sqaure{
    font-size: 0.5rem
  }
  .icon{
    font-size: 1rem;
  }
}